
<div class="testimonial-item">
    <div class="col-lg-6">
        <img src="{{inputCompetence.logo}}"  class="img" alt="">
    
    </div>
    <div class="progress">
        <span class="title" >{{inputCompetence.title}}</span><br>
        
        <p>
            <i class="bx bxs-quote-alt-left quote-icon-left" style="color: blue;font-size: medium; "></i>
            {{inputCompetence.purcentage}}
            <i class="bx bxs-quote-alt-right quote-icon-right" style="color: blue;font-size: medium;"></i>
          </p>
      </div>
</div>