<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>CV</h2>
      <p>
        Un CV est un document qui constitue le point de départ de toute candidature que dépose un demandeur d’emploi ou un professionnel à la recherche d’un meilleur poste.
         Bien qu’il existe des centaines de modèles gratuits ou payants à télécharger, l’idéal, selon nous, est de créer un modèle personnalisé à son image et ajusté au poste à pourvoir, ce qui n’est pas toujours évident. Nous vous proposons donc, dans cet article, de revenir en détail sur ce qu’est un CV afin de bien assimiler à quel point il est important d’investir du temps dans sa rédaction, pour pouvoir mettre toutes les chances de son côté et ainsi taper dans l’œil du recruteur. L’objectif ultime du CV ? Décrocher un premier entretien.</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Résumé</h3>
        <div class="resume-item pb-0">
          <h4>Bilel Mekni</h4>
          <p><em>Je m'appelle Bilel Mekni, j'ai 31 ans.Je suis titulaire Mastère multimedia et web a l'isikef en 2017.Mon domaine de compétence concerne principalement le développement informatique.</em>
          </p>
          <ul>
            <li>Ezzahra Ben Arous , Tunisie</li>
            <li>(+216) 92114746</li>
            <li>bilelmekni30@gmail.com </li>
          </ul>
        </div>

        <h3 class="resume-title">Éducation</h3>
        <div class="resume-item">
          <h4>Développement Full Stack JS</h4>
          <h5>2022 - 2023</h5>
          <p><em>Académie Crocco Coder ,Tunisie</em></p>
        </div>
        <div class="resume-item">
          <h4>Mastère Professionnel en Multimédia et Web</h4>
          <h5>2014 - 2017</h5>
          <p><em>Institut Supérieur d’informatique Kef Tunisie</em></p>
        </div>
        <div class="resume-item">
          <h4>Licence Appliquée en Multimédia et Web </h4>
          <h5>2010 - 2013</h5>
          <p><em>Institut Supérieur d’informatique Kef Tunisie</em></p>
        </div>
        <div class="resume-item">
          <h4>Baccalauréat En Science Informatique</h4>
          <h5>2009 - 2010</h5>
          <p><em>Lycée Secondaire Ali Belhouane, Béja</em></p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Expérience professionnelle</h3>
        <div class="resume-item">
          <h4>Technicien Informatique </h4>
          <h5>2018 - présent</h5>
          <p><em>Nouvelle Clinique Les Secours Tunis </em></p>
          <ul>
            <li>Enregistrement, Facturations des malades et Maintenance des équipements. </li>
            <li> Technologie : Application CliniSYS(WordPress , C#).</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Téléopérateur spécialisé à l’émission des appels</h4>
          <h5>2017 - 2018</h5>
          <p><em>Center d’appel : IHM Tunis</em></p>
          <ul>
            <li>Communication entre les clients étrangère.</li>
            </ul>
        </div>
        <div class="resume-item">
          <h4>Ingénieur développement informatique </h4>
          <h5>2016 - 2016</h5>
          <p><em>Boite de développement informatique PRO DEV</em></p>
          <ul>
            <li>Installation des logiciels : Android, éclipse , etc...</li>
            <li>Création des sites web et des applications : Technologies (HTML ,CSS,
              BOOTSTRAP , PHP).</li>
            </ul>
        </div>
        <div class="resume-item">
          <h4>Attache Commerciale en GSM </h4>
          <h5>2013 - 2015</h5>
          <p><em>Orange BBCOM</em></p>
          <ul>
            <li>Vente matériels électronique : Mobile , Tablettes , Accessoires informatique. </li>
            <li>Traitement d’information : activation des puces , clé 3G , FLYBOX , ADSL.</li>
            </ul>
        </div>
        <div class="resume-item">
          <h4>Réparation et maintenance informatique</h4>
          <h5>2013 - 2013</h5>
          <p><em>Lycée Secondaire Mongie SLIM</em></p>
          <ul>
            <li>Technologies : Pascal , Word , PowerPoint . </li>
            </ul>
        </div>
        <div class="resume-item">
          <h4>Service d’ingénierie informatique</h4>
          <h5>2012 - 2012</h5>
          <p><em>Tunisie Telecom Beja</em></p>
          <ul>
            <li>Promotion des nouveaux services de télécommunications et branchement des réseaux domestique. </li>
            </ul>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->